<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.tavendo.autobahn"
      android:versionCode="1" android:versionName="0.1">
    <uses-sdk android:minSdkVersion="8" />
    <application android:label="Autobahn"></application>
</manifest>