name: main

on:
  push:
    branches:
       - master
  pull_request:
    branches:
       - master

jobs:
  check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 11

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Build android library
        run: ./gradlew :autobahn:build connectedCheck

      - name: Setup Crossbar
        run: |
          docker run -d -p 8080:8080 --name crossbar crossbario/crossbar
          docker run -d --link crossbar -v ${PWD}/demo-gallery/python:/test crossbario/autobahn-python python -u /test/test_component2.py

      - name: Run tests
        run: docker run --rm -i --link crossbar -v ${PWD}/workspace crossbario/autobahn-java:netty /bin/bash -c "gradle installDist -PbuildPlatform=netty && /workspace/demo-gallery/build/install/demo-gallery/bin/demo-gallery ws://crossbar:8080/ws"
